<footer>
    <p>&copy; <%= new Date().getFullYear() %> <a href="https://github.com/Larssies" target="_blank">Larssies</a> Website Template</p>
  </footer>
  <script src="/js/scripts.js"></script>
</body>
</html>
