<%- include('partials/header') %>

<h1>Welcome to my website template</h1>
<p>This is the home page. Customize it to your liking.</p>
<p>This is made by <a href="https://github.com/Larssies" target="_blank">Larssies</a></p>

<%- include('partials/footer') %>
